/* заголовок 1 */

body {
	font-family: Arial, sans-serif;
	margin-left: 200px;
}

h1 {
  color: black;
  text-align: left;
  font-size: 14pt;
}

/* заголовок 2 */
h2 {
  color: grey;
  text-align: left;
  font-size: 12pt;
}

/* заголовок 3 */
h3 {
  color: dark-grey;
  text-align: left;
  font-size: 10pt;
}

/* текст */
p {
  font-size: 10pt;
  
}
/*
#нумерованный список
#список
#таблица
#рисунок
#колонтитул верх
#колонтитул низ
*/



