/* заголовок 1 */

body {
	font-family: Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	counter-reset: section1;
}

h1::before {
	counter-increment: section1;
	content: counter(section1) " ";
}

h2::before {
	counter-increment: section2;
	content: counter(section1) "." counter(section2) " ";
}

h3::before {
	counter-increment: section3;
	content: counter(section1) "." counter(section2) "." counter(section3) " ";
}


h1{
	counter-reset: section2;
	text-align: left;
	font-size: 16pt;
}

/* заголовок 2 */
h2 {
  counter-reset: section3;
  text-align: left;
  font-size: 14pt;
  margin-bottom: 32px;
}

/* заголовок 3 */
h3 {
  text-align: left;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.1;
  text-align: justify;

}

/* заголовок 6 */
h6 {
  text-align: center;
  font-size: 20pt;
}


/* текст */
.pic {
  font-size: 14pt;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.a {
  list-style-position: outside;
  list-style-type: '- ';
}


/*
#нумерованный список
#список
#таблица
#рисунок
#колонтитул верх
#колонтитул низ
*/



